body {
  background: var(--main-color);
  background: linear-gradient(90deg, var(--accent-color) 0%, var(--accent-secondary) 100%);
}

#contentHeader {
  margin-top: 4vh;
  text-align: center;
}

#contentHeader > h3 {
  color: var(--tertiary-dark);
}

#contentBody {
  width: 80vw;
  min-height: var(--min-content-height);
  margin: 0px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#littlePaw {
  max-width: 14vw;
  padding: 2vh 2vw;
  margin-bottom: 4vh;

  text-align: center;
  font-weight: bold;
  color: var(--main-color);
  border-radius: 2px;
  background-color: var(--tertiary-dark);
}

@media only screen and (max-width: 950px) {
  body {
    font-weight: 200;
    line-height: 1.25;
  }

  #contentBody {
    width: 100vw;
  }

  #littlePaw {
    max-width: 70vw;
  }
}

@media only screen and (max-width: 600px) {
  #contentHeader {
    font-size: 0.7em;
  }
}