body {
  background: var(--main-color);
  background: linear-gradient(90deg, var(--accent-color) 0%, var(--accent-secondary) 100%);
}

#contentBody {
  width: 80vw;
  min-height: var(--min-content-height);
  margin: 0px auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}