:root {
  --main-color: #dfdfe4;
  --secondary-color: #dfdfe4;
  --tertiary-color: #16161d;

  --accent-color: #f7f1f1;
  --accent-secondary: #eaeaee;
  --contrast-light: #8ba6ff;

  --header-height: 8vh;
  --footer-height: 12vh;
  --min-content-height: calc(100vh - var(--header-height) - var(--footer-height));

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

body {
  animation: 0.5s ease-in 0s 1 fadeInOpacity;
  overflow-x: hidden;
  
  min-height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, p, a {
  margin: 0px;
  padding: 0px;
}

a {
  color: var(--contrast-light);
}

a:hover {
  text-decoration: none;
}