:root {
    --mobile-header-font: 0.7em;
}

.divContainer {
    width: 65%;
    min-height: 30vh;
    margin: 4vh auto;
    padding: 2vh 2vw;

    box-sizing: border-box;

    background: var(--main-color);
    background: linear-gradient(90deg, var(--main-color) 0%, var(--secondary-color) 100%);
    border-radius: 2px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

@media only screen and (max-width: 950px) {
    .divContainer {
        min-height: 20vh;
        width: 90%;
        padding: 2vh 4vw;
    }
}


/* displayDiv.jsx */

#displayDiv {
    margin-bottom: 1vh;
}

#infoHeader {
    width: 100%;
    padding-bottom: 2vh;

    font-weight: 100;
    border-bottom: 4px solid var(--tertiary-dark);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

#infoTemp, #infoHumidity {
    width: 100%;
    margin: 0px;
    padding: 0px;
    
    text-align: center;
}

#infoTemp {
    font-size: 4em;
}

#infoHumidity {
    font-size: 2em;
}

@media only screen and (max-width: 600px) {
    #infoHeader {
        font-size: var(--mobile-header-font);
        border-bottom: 2px solid var(--tertiary-dark);
    }

    #infoTemp {
        font-size: 2em;
    }

    #infoHumidity {
        font-size: 1em;
    }
}


/* graphsDiv.jsx */

#graphsHeader {
    width: 70%;
    font-weight: 100;
    font-size: 0.8em;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

#graphsHeader > button {
    all: unset;

    width: 14vw;
    min-height: 6vh;
    margin-bottom: 1vh;

    font-style: inherit;
    text-align: center;
    /* border-bottom: 4px solid transparent; */
}

#graphsHeader > button:hover {
    cursor: pointer;
    color: var(--tertiary-dark);
}

#graphsHeader > button > h2 {
    padding-bottom: 1vh;
}

#tempGraph, #humidityGraph {
    width: 100%;
    min-height: fit-content;
    margin: 1vh 0px;
}

@media only screen and (max-width: 950px) {
    #graphsHeader > button {
        width: 24vw;
        font-size: 0.75em;
    }
}

@media only screen and (max-width: 600px) {
    #graphsHeader {
        width: 95%;
        font-size: var(--mobile-header-font);
    }

    #graphsHeader > button {
        width: 34vw;
        font-size: 0.7em;
        border-bottom: 2px solid var(--tertiary-dark);
    }
}