#header, #footer {
    width: 100vw;
    padding: 8px 8vw;
    box-sizing: border-box;

    text-align: center;
    color: var(--accent-color);
    background-color: var(--tertiary-color);

    display: flex;
    align-items: center;
}

#header {
    height: var(--header-height);
    border-bottom: 4px solid var(--secondary-color);
    justify-content: space-between;
}

span {
    color: var(--contrast-light);
}

#footer {
    height: var(--footer-height);
    border-top: 4px solid var(--main-color);
    justify-content: center;
}

.icon {
    height: calc(var(--header-height) / 1.75);
    padding-top: 4px;
}

@media only screen and (max-width: 950px) {
    #header, #footer {
        padding: 8px 4vw;
    }

    .text {
        font-size: 1.5em;
    }

    .icon {
        height: calc(var(--header-height) / 2);
    }
}